body{
	background: #D0ECEA;
	font-family: Amatic SC;
}

div{
	background: #ccc;
	border: 1px solid #333;
	padding: 10px;
	font-size: 40px;
}

img{
	background: #ccc;
	width: 90%;
}

.showme {
	display: none;
}

#read-more-link{
	color: red;
	font-size: 15px;
}

.like{
	width: 99%;
	height: 30px;
	background-color: #FFFFFF;
	box-shadow: none;
}